/* IMPORTS */
/* ==================== */

@import url('./jsinteractivity_comingsoonpage.css');



/* VARIABLES */
/* ==================== */

:root {
    /* Colors */
    --color-main-bg: #040404;
    --color-pri: rgb(67, 208, 243);
    --color-selected-bg: rgba(67, 208, 243, .2);
    --color-logo-green: #2db34a;
    --color-logo-blue: #005095;
    --color-logo-red: #ed1c24;
    --color-logo-yellow: #fff200;

    /* Others */
    --body-font-size: 14pt;
    --main-width-max: 1920px;
    --image-top-margin: 15vh;
}


/* RESET */
/* ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: none;
    text-decoration: none;
}


/* DEFAULTS */
/* ==================== */

::selection {
    background: var(--color-selected-bg);
}

html, body {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: var(--body-font-size);
    color: var(--color-pri);
}

p {
    font-family: 'Rajdhani Regular', sans-serif;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Rajdhani Light', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: .05em;
}

h2 {
    font-family: 'Rajdhani Bold', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    margin-bottom: .1em;
}

button {
    font-family: 'Rajdhani SemiBold', sans-serif;
    font-size: 1rem;
    letter-spacing: .2em;
    background: none;
    outline: none;
}

input, 
input:active {
    border-style: none;
    background: none;
    outline: none;
}



/* LOADER */
/* ==================== */

#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .5s;
}

#loader img.logo-spine {
    position: absolute;
    animation: spining 1s ease-in-out 0s infinite alternate-reverse;
}

@keyframes spining {
    0% {
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
    }
}


/* MAIN */
/* ==================== */

main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../Assets/ComingSoonPage/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* visibility: hidden; */
}

main::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top left, var(--color-main-bg), rgba(0, 0, 0, .9), var(--color-main-bg));
    mix-blend-mode: multiply;
    z-index: 0;
}

main #particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
}

main .main-content-area {
    position: relative;
    width: 85%;
    height: 100%;
    max-width: var(--main-width-max);
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid red; */
}

.main-content-area #image-content {
    position: relative;
    display: flex;
    justify-content: right;
    /* align-items: center; */
}

.main-content-area .images {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--image-top-margin);
    /* float: right; */
    /* border: 1px solid green; */
}

#image-content img {
    position: relative;
    width: 45vw;
    min-width: 300px;
}

#image-content .hologram-logo {
    position: absolute;
    opacity: 1;
    animation: hologramFlash 3s ease-in .5s infinite;
}

@keyframes hologramFlash {
    0%, 15%, 17%, 47%, 50%, 52%, 70%, 73%, 89% {
        opacity: 0;
    }
    5%, 20%, 12%, 28%, 31%, 45%, 48%, 79%, 55%, 84%, 98% {
        opacity: 1;
    }
}

main .main-content-area .text-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blueviolet; */
}

.text-content .left-section {
    position: relative;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* Header > Navigation Bar ______________ */

.text-content .left-section header nav > * {
    display: inline-block;
    background: none;
    margin-right: .5em;
    padding: .1em 1em;
    /* border: 1px solid white; */
}

.text-content .left-section header nav #notify-btn {
    text-transform: uppercase;
    /* letter-spacing: .2em; */
    color: red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    transition: all .2s;
}

.text-content .left-section header nav #notify-btn:hover {
    background: rgb(255, 0, 0, .2);
}

.text-content .left-section header nav #notify-btn:active {
    background: rgb(255, 0, 0, .4);
    color: white;
}

.text-content .left-section header nav #about-btn {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 1rem;
    color: grey;
}

.text-content .left-section header nav #about-btn:hover {
    cursor: pointer;
}

.text-content .left-section header nav #about-btn:hover::after {
    content: ' eREFIX';
    color: rgb(26, 206, 122);
    cursor: pointer;
}

/* Logo and Texts ______________ */

.text-content .left-section #logo {
    width: 22vw;
    min-width: 150px;
    margin-bottom: 1.5rem;
}

.text-content .left-section h5 {
    color: rgba(255, 255, 255, 0.2);
}

/* Countdown Timer ______________ */

.text-content .left-section .countdown-line .digits {
    color: white;
}

.text-content .left-section .countdown-line .text-line #progress-bar {
    --progress-width: 0%;
    position: relative;
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, 0.15);
}

#progress-bar::after {
    content: '';
    position: absolute;
    width: var(--progress-width);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), var(--color-pri));
}

#progress-bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    left: var(--progress-width);
    transform: translateX(-10px);
    background: var(--color-pri);
    box-shadow: 0 0 5px var(--color-pri), 0 0 10px var(--color-pri),
                0 0 20px var(--color-pri), 0 0 40px var(--color-pri),
                0 0 60px var(--color-pri), 0 0 80px var(--color-pri);
}

/* Right Section ______________________ */

.text-content .right-section {
    position: relative;
}

.text-content .right-section .link-bar {
    position: absolute;
    width: max-content;
    bottom: 0;
    left: 0;
    /* text-orientation: mixed; */
    /* writing-mode: vertical-lr; */
    transform: rotate(-90deg);
    transform-origin: bottom left;
    /* border: 1px solid blue; */
}

.link-bar .heading {
    position: relative;
    text-transform: uppercase;
    font-family: 'Rajdhani SemiBold', sans-serif;
    color: var(--color-pri);
    padding-right: .7em;
    margin-right: .2em;
}

.link-bar a {
    font-family: 'Rajdhani Regular', sans-serif;
    color: rgba(255, 255, 255, 0.3);
}

.link-bar a:hover {
    color: var(--color-pri);
}

.heading::before {
    position: absolute;
    content: '';
    height: 100%;
    width: calc(100% + 10vh);
    left: -10vh;
    background: linear-gradient(90deg, var(--color-logo-blue), var(--color-logo-green));
    opacity: .4;
    clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);  /* Which point and how much to take down? */
    z-index: -1;
}


/* ABOUT POPUP */
/* ==================== */

#about-popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* part in jsinteractivity_comingsoonpage.css ... */
    display: none;
    visibility: hidden;
}


#about-popup .popup-window {
    position: relative;
    width: 50vw;
    height: 60vh;
    background: linear-gradient(to bottom right, rgba(0, 50, 100, 0.8), 40%, transparent),
                linear-gradient(to bottom, rgba(0, 5, 0, 0.5), 40%, transparent),
                linear-gradient(to top left, rgba(80, 0, 80, 0.8), 30%, transparent),
                url('../Assets/ComingSoonPage/pexels-mikhail-nilov-9242900.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.popup-window .upper {
    padding: 4em 3em 0em;
}

.popup-window .upper p {
    color: rgb(218, 218, 218);
}

.popup-window .upper button {
    position: relative;
    width: 140px;
    height: 100%;
    padding: .3em 1.2em;
    margin-bottom: .1em;
    margin-right: .6em;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    /* clip-path: polygon(0% 5px, 5px 0%, 100% 0%, 100% 100%, 0% 100%); */
    transition: .3s all;
}

.upper button::before, .upper button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    visibility: hidden;
    z-index: -1;
}

.upper button::before {
    right: -10px;
    background: rgba(255, 255, 255, 0.3);
}

.upper button::after {
    right: -20px;
    background: rgba(255, 255, 255, 0.1);
}

.upper button:hover,
.upper button.active {
    letter-spacing: normal;
    border: 1px solid white;
    color: var(--color-main-bg);
    background: white;
}

.upper button:hover::before, .upper button:hover::after {
    visibility: visible;
}
.upper button.active::before, .upper button.active::after {
    visibility: hidden;
}

.upper .order .btns {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.btns #social-btns {
    /* part in jsinteractivity_comingsoonpage.css ... */
    visibility: hidden;
}

.btns #social-btns > a {
    position: relative;
    color: white;
    width: auto;
    padding: .3em .2em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    text-align: center;
}

#social-btns > a svg {
    position: static;
    margin: auto;
    width: 25px;
    transform: translateY(25%);
}

#social-btns > a svg path {
    fill: rgba(255, 255, 255, 1);
}

#social-btns a.call:hover svg path {
    fill: rgb(0, 17, 255);
}
#social-btns a.mail:hover svg path {
    fill: rgb(255, 102, 0);
}
#social-btns a.whatsapp:hover svg path {
    fill: rgb(0, 255, 8);
}
#social-btns a.telegram:hover svg path {
    fill: rgb(0, 174, 255);
}
#social-btns a.facebook:hover svg path {
    fill: rgb(0, 51, 255);
}
#social-btns a.map:hover svg path {
    fill: rgb(255, 0, 93);
}

.popup-window .lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

.lower .back {
    position: relative;
    display: flex;
    cursor: pointer;
}

.lower .back svg {
    width: 20px;
    transform: translateY(-1px);
    display: none;
}

.lower .back svg path {
    stroke: var(--color-pri);
}

.lower .back h5 {
    position: relative;
    cursor: pointer;
}

.lower .back:hover svg {
    display: inline;
}

.popup-window .lower .logo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo p {
    margin: auto 1em;
}

.logo img {
    width: 13vw;
    min-width: 80px;
}



/* ABOUT POPUP */
/* ==================== */

#notify-popup-back {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, .8);
    /* part in jsinteractivity_comingsoonpage.css ... */
    display: none;
    visibility: hidden;
}

#notify-popup-back .notify-popup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notify-popup img {
    position: absolute;
    width: 20vw;
    top: 3vw;
    filter: drop-shadow(0 10px 10px black) drop-shadow(0 5px 30px rgba(0, 0, 0, 0.652));
    animation: upDown 2s ease-out 0s infinite alternate;
    z-index: 1;
}

@keyframes upDown {
    0% {
        transform: translateY(0px) scale(1);
    }
    100% {
        transform: translateY(35px) scale(0.9);
    }
}

.notify-popup h2 {
    position: absolute;
    top: 14vw;
    color: rgb(44, 44, 44);
    text-align: right;
    line-height: .8em;
}

.notify-popup h2 span {
    position: relative;
}

.notify-popup h2 span h5 {
    position: relative;
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: var(--body-font-size);
    color: var(--color-logo-yellow);
    line-height: 1.8em;
    padding: 0 .5em;
}

.notify-popup h2 span h5::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 50%;
    right: .5em;
    background: linear-gradient(to left, var(--color-logo-yellow), transparent);
}

.notify-popup form {
    position: relative;
    margin-top: 30vh;
}

.notify-popup form p {
    text-align: center;
    font-size: .8rem;
    width: 45%;
    margin: 3.5em auto;
}

.notify-popup form .entry-field {
    width: 70vw;
    display: flex;
    margin: 0 auto;
}

.entry-field {
    padding: .2rem;
    border-bottom: 1px solid grey;
}

.entry-field:hover {
    border-bottom: 1px solid white;
}

.entry-field input[type="email"] {
    width: inherit;
    color: var(--color-pri);
    font-family: 'Rajdhani Light', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
    font-style: italic;
}

.entry-field input[type="submit"] {
    width: 100px;
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 1em;
    padding: 0 .5em;
    color: rgb(44, 44, 44);
    cursor: pointer;
}

.entry-field input[type="submit"]:hover {
    color: grey;
}

.notify-popup form button {
    position: relative;
    display: block;
    width: 100px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
    margin: 1.4em auto;
    cursor: pointer;
}

.notify-popup form button:hover {
    letter-spacing: normal;
}


/* MEDIA QUARIES */
/* ============================= */


@media only screen and (max-width: 1024px) {
    /* Main Window */
    .main-content-area #image-content {
        margin-top: 10vh;
    }

    /* About Window */
    #about-popup .popup-window {
        width: 60vw;
        height: 70vh;
    }
}

@media only screen and (max-width: 847px) {
    /* Main Window */
    .text-content .left-section {
        width: 70%;
    }
    .text-content .left-section h1 {
        font-size: 2.1rem;
    }

    /* Notify Me Window */
    h2 {
        font-size: 4.5rem;
    }
    .entry-field input[type="email"] {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    /* Main Window */
    .main-content-area #image-content {
        margin-top: 15vh;
    }
    .text-content .left-section h1 {
        font-size: 2.0rem;
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 1.5em;
    }

    /* About Window */
    .popup-window .upper button {
        margin-bottom: .2em;
    }

    /* Notify Me Window */
    h2 {
        font-size: 3.8rem;
    }
    .notify-popup h2 {
        top: 17vw;
    }
    .entry-field input[type="email"] {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 576px) {
    /* Main Window */
    main {
        background-image: none;
        background: var(--color-main-bg);
    }
    .main-content-area #image-content {
        justify-content: center;
        margin-top: 5vh;
    }
    .text-content .left-section #logo {
        margin-bottom: 1rem;
    }
    .text-content .left-section h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.8rem;
    }
    .text-content .left-section .countdown-line .text-line {
        font-size: 1rem;
    }

    /* About Window */
    .popup-window .upper {
        padding: 4em 2em 0em;
    }
    .popup-window .lower {
        padding: 1em 2em;
    }
    #social-btns > a svg {
        width: 20px;
    }
    .popup-window .upper button {
        margin-bottom: .4em;
    }

    /* Notify Me Window */
    .notify-popup h2 {
        top: 18vw;
    }
    h2 {
        font-size: 3.0rem;
    }
    .notify-popup h2 span h5 {
        font-size: 11pt;
    }
    .entry-field input[type="email"] {
        font-size: 1rem;
    }
    .entry-field input[type="submit"] {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 505px) {
    /* Main Window */
    main .main-content-area .text-content {
        padding-bottom: 5vh;
    }
    .text-content .left-section header nav > * {
        padding: 0.05em 0.5em;
        margin-right: .2em;
    }
    .text-content .left-section header nav #notify-btn {
        font-size: 0.8rem;
        letter-spacing: normal;
    }
    .text-content .left-section header nav #about-btn {
        font-size: 0.8rem;
    }
    .text-content .left-section {
        width: 80%;
    }
    .text-content .left-section #logo {
        margin-bottom: 0.5rem;
    }
    .text-content .left-section h1 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.65rem;
    }
    h5 {
        font-size: 0.6rem;
    }
    .text-content .left-section .countdown-line .text-line {
        font-size: 0.8rem;
    }
    .text-content .right-section .link-bar {
        font-size: 0.7rem;
    }

    /* About Window */
    #about-popup .popup-window {
        width: 70vw;
    }
    .popup-window .upper {
        padding: 4em 1.3em 0em;
    }
    .popup-window .lower {
        padding: 1em 1.3em;
    }
    #social-btns > a svg {
        width: 15px;
    }
    .lower .back svg {
        width: 15px;
    }

    /* Notify Me Window */
    .notify-popup h2 {
        top: 20vw;
    }
    h2 {
        font-size: 2.6rem;
    }
    .notify-popup h2 span h5 {
        font-size: 9pt;
    }
    .notify-popup form p {
        font-size: .6rem;
    }
    .notify-popup form .entry-field {
        width: 85vw;
    }
    .entry-field input[type="email"] {
        font-size: .9rem;
    }
    .entry-field input[type="submit"] {
        font-size: .6rem;
    }
    button {
        font-size: .7rem;
    }
}
