// Texts

@mixin text-para {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

@mixin text-tiny-regular {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 1.2rem;
}

@mixin text-largest-bold {
    font-family: 'Rajdhani SemiBold', sans-serif;
    // font-size: 28rem;
    font-size: 20vw;
    text-transform: uppercase;
}

@mixin text-larger-regular($size: 8vw) {
    font-family: 'Rajdhani Regular', sans-serif;
    // font-size: 28rem;
    font-size: $size;
}

@mixin text-bold-upper-head {
    font-family: 'Rajdhani Bold', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
}

@mixin text-italic($size: 1.2rem) {
    font-family: 'Rajdhani Light', sans-serif;
    font-size: $size;
    font-style: italic;
    color: $color-primary-darker;
    line-height: 0;
}

@mixin text-thin($size: 1rem) {
    font-family: 'Rajdhani Light', sans-serif;
    font-size: $size;
}


@mixin text-section-back {
    font-family: 'Rajdhani Bold', sans-serif;
    font-size: 16rem;
    text-transform: uppercase;
}

@mixin text-section-fore {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 7rem;
}


@mixin text-btn-primary {
    font-family: 'Rajdhani SemiBold', sans-serif;
    font-size: 1.5vw;
}

@mixin text-btn-secondary {
    font-family: 'Rajdhani Regular', sans-serif;
    font-size: 1.4vw;
}



// Text colors

@mixin gradient-text($deg: 0deg, $color1, $color2, $stop1: 0%, $stop2: 100%) {
    color: $color1;
    background: linear-gradient($deg, $color1 $stop1, $color2 $stop2);
    background: -webkit-linear-gradient($deg, $color1 $stop1, $color2 $stop2);
    background: -moz-linear-gradient($deg, $color1 $stop1, $color2 $stop2);
    background: -o-linear-gradient($deg, $color1 $stop1, $color2 $stop2);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin outlined-text {
    color: rgba(255, 255, 255, .1);
    -webkit-text-stroke: 1px rgba($color: $color-primary-lightest, $alpha: .2);
    color: transparent;
}



// Images

@mixin image_width {
    min-width: 125px;
    width: 35vw;
    max-width: 700px;
}

@mixin bg-img-cover-center {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// Display

@mixin absolute-fixed-cover($pos: absolute, $top: 0, $left: 0) {
    position: $pos;
    width: 100%;
    height: 100vh;
    top: $top;
    left: $left;
}

@mixin absolute-bare($wd, $ht, $top: 0, $lft: 0) {
    position: absolute;
    width: $wd;
    height: $ht;
    top: $top;
    left: $lft;
}

@mixin wh_tlbr($w: 100%, $h: 100%, $t: auto, $l: auto, $b: auto, $r: auto) {
    width: $w;
    height: $h;

    top: $t;
    left: $l;

    @if $b !=auto {
        bottom: $b;
        top: auto;
    }

    @if ($r !=auto) {
        right: $r;
        left: auto;
    }

}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


// Animations