// UNIVERSAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    // overflow-x: hidden;
    
}

::selection {
    background: $color-selected-bg;
}



// ROOT

html {
    font-family: 'Rajdhani Regular', sans-serif;
    // 1rem = 10px (16px default) = 62.5%
    font-size: 62.5%;
    cursor: url("../../assets/cursor/cursor_normal.png") 0 32,
        url("../../assets/cursor/cursor_normal.png") 0 32, auto;
}



// ELEMENTS

body {
    // width: 100%;
    background: $color-body-background;
    color: $color-pri;
    overflow-x: hidden;
}

p {
    @include text-para;
}

h5 {
    @include text-larger-regular(2.5rem);
}

h6 {
    @include text-italic;
}

ul {
    list-style: none;
}

button {
    position: relative;
    margin: 5px 0;
    padding: 10px 30px;
    background: none;
    outline: none;
    text-align: center;
}

input,
input:active {
    border-style: none;
    background: none;
    outline: none;
}

a,
a:active,
a:focus,
a:visited,
button,
button:active,
button:focus,
button:visited {
    color: inherit;
    border-style: none;
    text-decoration: none;
    outline: none;

}

a, 
button, 
input {
    cursor: url("../../assets/cursor/cursor_link.png") 0 32,
    url("../../assets/cursor/cursor_link.cur") 0 32, auto;
}



// CLASSES


.cursor-link {
    cursor: url("../../assets/cursor/cursor_link.png") 0 32,
    url("../../assets/cursor/cursor_link.cur") 0 32, auto;
}

.btn-primary {
    position: relative;
    @include text-btn-primary;
    text-transform: uppercase;
    color: $color-primary-lightest;
    letter-spacing: .3vw;
    transition: .5s;
    background-image: linear-gradient(to right, $color-btn-primary-dark 10%, $color-btn-primary-light 50%, $color-btn-primary-dark 90%);
    background-size: 200% auto;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 0px;
        bottom: 5px;
        height: 30%;
        width: 0px;
        background: rgb(17, 255, 17);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
        transition: .5s;
    }

    &:hover {
        letter-spacing: .5vw;
        background-position: right center;

        &::after {
            right: 5px;
            width: 5px;
            box-shadow: 0 0 5px rgb(0, 221, 0),
                0 0 8px rgb(0, 221, 0),
                0 0 20px rgb(0, 221, 0),
                0 0 30px rgb(0, 221, 0),
                0 0 40px rgb(0, 221, 0),
        }
    }
}

.btn-secondary {
    @include text-btn-secondary;
    color: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
    transition: .5s;

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 0%;
        bottom: 0;
        left: 0;
        background: $color-primary;
        box-shadow: 0 0 5px $color-primary,
            0 0 10px $color-primary,
            0 0 20px $color-primary;
        transition: .5s;
    }

    &:hover {
        color: $color-primary;

        &::before {
            width: 100%;
        }
    }
}


.section-heading {
    position: relative;

    h2.text-back {
        @include text-section-back;
        @include outlined-text;
    }

    h4.text-fore {
        @include text-section-fore;
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 50%;
    }
}