// Colors
// $color-main-bg: #040404;
$color-main-bg: #002832;
$color-pri: rgb(67, 208, 243);

// PRIMARY SHADES
$color-primary-lightest: #d9f4fc;
$color-primary-lighter: #b1e8f9;
$color-primary-light: #83dcf6;
$color-primary: #43d0f3;
$color-primary-dark: #3997b0;
$color-primary-darker: #145466;
$color-primary-darkest: #011d25;

// BACKGROUND
$color-background-light: rgba(131, 220, 246, .05);
$color-background-lighter: rgba(132, 219, 246, 0.02);
$color-background-glow: #007b9a;

// BUTTON
$color-btn-primary-dark: #314755;
$color-btn-primary-light: #26a0da;


// SEMI-TRANSPARENT COLORS
$color-selected-bg: rgba(67, 208, 243, .2);


// LOGO COLORS
$color-logo-green: #2db34a;
$color-logo-blue: #005095;
$color-logo-red: #ed1c24;
$color-logo-yellow: #fff200;