// Colors
// $color-main-bg: #040404;
$color-main-bg: #002832;
$color-pri: rgb(67, 208, 243);
$color-selected-bg: rgba(67, 208, 243, .2);

$color-logo-green: #2db34a;
$color-logo-blue: #005095;
$color-logo-red: #ed1c24;
$color-logo-yellow: #fff200;
