* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(67, 208, 243, 0.2);
}

::selection {
  background: rgba(67, 208, 243, 0.2);
}

html {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 62.5%;
  cursor: url("../../assets/cursor/cursor_normal.png") 0 32, url("../../assets/cursor/cursor_normal.png") 0 32, auto;
}

body {
  background: #001318;
  color: rgb(67, 208, 243);
  overflow-x: hidden;
}

p {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}

h5 {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 2.5rem;
}

h6 {
  font-family: "Rajdhani Light", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  color: #145466;
  line-height: 0;
}

ul {
  list-style: none;
}

button {
  position: relative;
  margin: 5px 0;
  padding: 10px 30px;
  background: none;
  outline: none;
  text-align: center;
}

input,
input:active {
  border-style: none;
  background: none;
  outline: none;
}

a,
a:active,
a:focus,
a:visited,
button,
button:active,
button:focus,
button:visited {
  color: inherit;
  border-style: none;
  text-decoration: none;
  outline: none;
}

a,
button,
input {
  cursor: url("../../assets/cursor/cursor_link.png") 0 32, url("../../assets/cursor/cursor_link.cur") 0 32, auto;
}

.cursor-link {
  cursor: url("../../assets/cursor/cursor_link.png") 0 32, url("../../assets/cursor/cursor_link.cur") 0 32, auto;
}

.btn-primary {
  position: relative;
  font-family: "Rajdhani SemiBold", sans-serif;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #d9f4fc;
  letter-spacing: 0.3vw;
  transition: 0.5s;
  background-image: linear-gradient(to right, #314755 10%, #26a0da 50%, #314755 90%);
  background-size: 200% auto;
}
.btn-primary::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 5px;
  height: 30%;
  width: 0px;
  background: rgb(17, 255, 17);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.btn-primary:hover {
  letter-spacing: 0.5vw;
  background-position: right center;
}
.btn-primary:hover::after {
  right: 5px;
  width: 5px;
  box-shadow: 0 0 5px rgb(0, 221, 0), 0 0 8px rgb(0, 221, 0), 0 0 20px rgb(0, 221, 0), 0 0 30px rgb(0, 221, 0), 0 0 40px rgb(0, 221, 0);
}

.btn-secondary {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 1.4vw;
  color: #3997b0;
  border-bottom: 1px solid #3997b0;
  transition: 0.5s;
}
.btn-secondary::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  background: #43d0f3;
  box-shadow: 0 0 5px #43d0f3, 0 0 10px #43d0f3, 0 0 20px #43d0f3;
  transition: 0.5s;
}
.btn-secondary:hover {
  color: #43d0f3;
}
.btn-secondary:hover::before {
  width: 100%;
}

.section-heading {
  position: relative;
}
.section-heading h2.text-back {
  font-family: "Rajdhani Bold", sans-serif;
  font-size: 16rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px rgba(217, 244, 252, 0.2);
  color: transparent;
}
.section-heading h4.text-fore {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 7rem;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 50%;
}

@keyframes modal-load {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes modal-unload {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  99% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    display: none;
    visibility: hidden;
  }
}
@keyframes modal-win-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modal-win-unload {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    transform: translateY(50px);
  }
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-image: radial-gradient(#43d0f3 0.3px, rgba(0, 0, 0, 0.7) 0.3px);
  background-size: 6px 6px;
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#modal .window {
  position: relative;
  width: 50vw;
  height: auto;
  background: #011d25;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 35px #011d25;
  opacity: 0;
}
#modal .window button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: medium;
  padding-right: 0;
  z-index: 1;
}
#modal .window .bg {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px 25px;
  background: url("../../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#modal .window .bg img {
  height: 100px;
  filter: grayscale(0) saturate(0);
}
#modal .window .bg h5 {
  z-index: 1;
}
#modal .window .bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#modal .window .content {
  position: relative;
  padding: 20px 25px;
  overflow: hidden;
}
#modal .window .content p {
  color: #3997b0;
}
#modal .window .content h6 {
  color: #145466;
}
#modal .window .content::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 80px;
  height: 80px;
  background: url("../../assets/img/logo_spine.png");
  background-size: cover;
  opacity: 0.1;
}
#modal.show {
  animation: modal-load 0.5s ease-in 0s 1 forwards;
}
#modal.show .window {
  animation: modal-win-load 0.5s ease 0.5s 1 forwards;
}
#modal.hide {
  animation: modal-unload 0.5s ease-out 0.5s 1 forwards;
}
#modal.hide .window {
  animation: modal-win-unload 0.5s linear 0s 1 forwards;
}

nav {
  position: fixed;
  top: 47px;
  left: 30px;
  z-index: 1;
}
nav #nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
nav #nav-bar .trigger {
  position: relative;
  width: 60px;
  height: 60px;
}
nav #nav-bar .trigger img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
nav #nav-bar .trigger img.logo-e {
  position: relative;
}
nav #nav-bar .trigger img.logo-spin {
  position: absolute;
  top: 0;
  left: 0;
  scale: 0.8;
  rotate: -90deg;
  opacity: 0;
}
nav #nav-bar .nav-box {
  display: none;
}
nav #nav-bar .nav-box .head {
  text-transform: uppercase;
  font-size: medium;
  text-align: center;
  letter-spacing: 10px;
  padding: 4px 8px;
  margin-top: 20px;
  border: 1px dotted #145466;
  border-style: dashed;
  transition: 0.5s;
  color: #d9f4fc;
  text-shadow: 0 0 5px #43d0f3, 0 0 10px #43d0f3, 0 0 25px #43d0f3, 0 0 35px #43d0f3;
}
nav #nav-bar .nav-box .head:hover {
  color: #43d0f3;
  text-shadow: 0 0 15px #43d0f3;
}
nav #nav-bar .nav-box .menus {
  margin-top: 10px;
}
nav #nav-bar .nav-box .menus ul {
  position: relative;
  background: linear-gradient(to bottom right, #011d25 10%, transparent 69%);
  padding: 20px 0;
}
nav #nav-bar .nav-box .menus ul::before, nav #nav-bar .nav-box .menus ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
nav #nav-bar .nav-box .menus ul::before {
  height: 1px;
  width: 50%;
  background: linear-gradient(to right, transparent, #145466);
}
nav #nav-bar .nav-box .menus ul::after {
  width: 1px;
  height: 70%;
  background: linear-gradient(to bottom, transparent, #145466);
}
nav #nav-bar .nav-box .menus ul li {
  padding: 3px 25px;
}
nav #nav-bar .nav-box .menus ul li:nth-child(1), nav #nav-bar .nav-box .menus ul li:nth-child(2), nav #nav-bar .nav-box .menus ul li:nth-child(3) {
  padding: 0 25px;
}
nav #nav-bar .nav-box .menus ul li:nth-child(4) {
  margin-top: 20px;
}
nav #nav-bar .nav-box .menus ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav #nav-bar .nav-box .menus ul li a svg {
  fill: #b1e8f9;
  margin-right: 15px;
  transition: opacity 0.3s;
}
nav #nav-bar .nav-box .menus ul li a svg .svg-color1 {
  stop-color: #314755;
}
nav #nav-bar .nav-box .menus ul li a svg .svg-color2 {
  stop-color: #26a0da;
}
nav #nav-bar .nav-box .menus ul li a svg.primary {
  fill: url("#svgGradient");
}
nav #nav-bar .nav-box .menus ul li a svg.secondary {
  opacity: 0.4;
}
nav #nav-bar .nav-box .menus ul li a .btn-primary {
  width: 100%;
  padding: 2px 10px;
  text-align: left;
  font-size: medium;
  letter-spacing: normal;
}
nav #nav-bar .nav-box .menus ul li a .btn-primary:hover {
  letter-spacing: 1px;
}
nav #nav-bar .nav-box .menus ul li a .btn-secondary {
  padding: 3px 10px 3px 0;
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}
nav #nav-bar .nav-box .menus ul li a:hover svg.secondary {
  opacity: 1;
}
nav #nav-bar:hover .trigger img.logo-e {
  scale: 0.8;
  filter: invert(52%) sepia(75%) saturate(503%) hue-rotate(81deg) brightness(95%) contrast(81%);
}
nav #nav-bar:hover .trigger img.logo-spin {
  scale: 1;
  rotate: 0deg;
  opacity: 1;
}
nav #nav-bar:hover .nav-box {
  display: block;
}

header {
  position: relative;
}
header .background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
header .background video {
  mix-blend-mode: screen;
  opacity: 0.1;
  width: 100vw;
}
header .background .background-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  filter: invert(1);
}
header .background .background-logo:nth-child(1) {
  width: 170px;
  height: 170px;
  top: 20vh;
  left: auto;
  right: 30vw;
  left: auto;
}
header .background .background-logo:nth-child(2) {
  width: 500px;
  height: 500px;
  top: auto;
  left: 8vw;
  bottom: -100px;
  top: auto;
  filter: invert(1) blur(10px);
}
header .background .background-logo .logo-e {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../../assets/img/logo_e.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .background .background-logo .logo-e .logo-spin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
  background: url("../../assets/img/logo_spine.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header .foreground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
header .foreground h1#headerTitle {
  position: relative;
  font-family: "Rajdhani SemiBold", sans-serif;
  font-size: 20vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
  background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
header .foreground h1#headerTitle img#headerImg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  height: initial;
  transform: translateX(-50%);
  min-width: 125px;
  width: 35vw;
  max-width: 700px;
}
@keyframes header-img {
  from {
    transform: translateX(-50%) translateY(0) scale(1);
  }
  to {
    transform: translateX(-50%) translateY(10px) scale(0.95);
  }
}
header .foreground .headerElements {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .foreground .headerElements h3.text {
  font-family: "Rajdhani Regular", sans-serif;
  font-size: 8vw;
}
header .foreground .headerElements .vSeperator {
  margin: 0 2vw;
  height: 90%;
  width: 1px;
  background: #145466;
}
header .foreground .headerElements .buttons {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
header .foreground .headerElements .buttons .btn-secondary {
  text-align: left;
  padding-left: 0;
}

.transition {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #001318, transparent);
}

main {
  position: relative;
  background: #001318;
  padding: 150px 10vw;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 2px;
  transform: translateX(-50%);
  background: radial-gradient(rgba(255, 255, 255, 0.5), transparent 60%);
}
main section {
  margin-bottom: 100px;
}
main .section-heading {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: right;
}
main #who {
  margin-top: 50px;
}
main #services .section-body {
  position: relative;
}
main #services .section-body .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4vw 3vw;
}
main #services .section-body .boxes .box {
  position: relative;
  width: 300px;
  height: 200px;
  background: rgba(131, 220, 246, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px 0;
}
main #services .section-body .boxes .box * {
  transition: all 0.5s;
}
main #services .section-body .boxes .box .back-glow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(40% 45% at 50% 0%, rgba(0, 183, 255, 0.3) -20%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  overflow: hidden;
}
main #services .section-body .boxes .box .back-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  height: 100%;
  width: 0%;
  transform: skewX(15deg);
  background: linear-gradient(to right, transparent 60%, rgba(255, 255, 255, 0.02) 10%);
}
main #services .section-body .boxes .box .header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px 0;
  text-align: center;
}
main #services .section-body .boxes .box .header svg {
  fill: white;
  width: 80px;
  height: auto;
}
main #services .section-body .boxes .box .body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
}
main #services .section-body .boxes .box .body p {
  color: #3997b0;
}
main #services .section-body .boxes .box .body button {
  padding-right: 0;
}
main #services .section-body .boxes .box:hover {
  background: rgba(132, 219, 246, 0.02);
}
main #services .section-body .boxes .box:hover .back-glow {
  opacity: 1;
}
main #services .section-body .boxes .box:hover .back-glow::before {
  width: 50%;
}
main #services .section-body .boxes .box:hover .header {
  top: -45%;
  gap: 0;
}
main #services .section-body .boxes .box:hover .header svg {
  fill: #43d0f3;
  width: 50px;
  height: auto;
}
main #services .section-body .boxes .box:hover .header h5 {
  font-size: 2rem;
  color: #d9f4fc;
}
main #services .section-body .boxes .box:hover .header h6 {
  opacity: 0;
}
main #services .section-body .boxes .box:hover .body {
  opacity: 1;
  height: 100%;
}
main #statistic .boxes {
  border: 1px solid saddlebrown;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
main #statistic .boxes * {
  transition: all 0.5s;
}
main #statistic .boxes .box {
  position: relative;
  width: 100px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, transparent, #011d25, transparent);
  background-size: auto 100%;
  background-position: center center;
}
main #statistic .boxes .box .count {
  top: 0%;
  font-family: "Rajdhani Light", sans-serif;
  font-size: 7rem;
  transform: scaleY(1.5);
  color: #145466;
}
main #statistic .boxes .box .count-name {
  position: absolute;
  top: 0%;
  text-transform: uppercase;
  font-size: small;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
main #statistic .boxes .box::before {
  position: absolute;
}
main #statistic .boxes .box:hover {
  width: 120px;
  background-size: auto 200%;
  background-position-y: bottom;
  margin: 0 25px;
}
main #statistic .boxes .box:hover .count {
  transform: translateY(40px) scaleY(1.5);
}
main #statistic .boxes .box:hover .count-name {
  transform: translateY(20px);
}
main #statistic .boxes:hover .box:nth-child(even) {
  transform: translateY(30px);
}
main #statistic .boxes:hover .box:nth-child(odd) {
  transform: translateY(-30px);
}
main #testimonials .section-body {
  position: relative;
}
main #testimonials .section-body .boxes {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
}
main #testimonials .section-body .boxes .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  height: 150px;
  width: 350px;
  padding: 10px 20px;
  transform: rotateX(43deg) rotateY(-8deg) skew(320deg, 30deg);
  background: #d9f4fc;
  background: radial-gradient(circle farthest-corner at 0 0, #d9f4fc, #b1e8f9);
  box-shadow: 2px 2px 10px rgb(68, 68, 68);
  transition: all 0.5s ease-out;
}
main #testimonials .section-body .boxes .box:nth-child(1) {
  top: 70px;
  z-index: 9;
}
main #testimonials .section-body .boxes .box:nth-child(2) {
  top: 140px;
  z-index: 8;
}
main #testimonials .section-body .boxes .box:nth-child(3) {
  top: 210px;
  z-index: 7;
}
main #testimonials .section-body .boxes .box:nth-child(4) {
  top: 280px;
  z-index: 6;
}
main #testimonials .section-body .boxes .box:hover {
  transform: translateX(-93px) translateY(63px) rotateX(35deg) rotateY(345deg) skew(331deg, 26deg);
  background: radial-gradient(circle farthest-corner at 100% 100%, #d9f4fc, #b1e8f9);
  box-shadow: 8px 0px 30px rgb(68, 68, 68);
}
main #testimonials .section-body .boxes .box svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: auto;
  fill: #011d25;
  opacity: 0.1;
  z-index: -1;
}
main #testimonials .section-body .boxes .box p {
  font-size: 1.3rem;
  color: #011d25;
}
main #testimonials .section-body .boxes .box h5 {
  font-size: 2rem;
  color: #145466;
}
main #testimonials .section-body .boxes .box h5 span {
  background: #145466;
  color: #83dcf6;
  font-size: 1.1rem;
}
main #testimonials .section-body h6 {
  padding-top: 10px;
  text-transform: uppercase;
}/*# sourceMappingURL=styles_main.css.map */